body {
	background-color: #365a90;
	color: rgba(255, 255, 255);
  overflow-x: hidden;
}
.contact-input{

	border-radius: 10px;
  }
.footer-links{
border: solid #ffffff;
border-radius: 20px;
width: 160px;
text-align: center;
padding-left: 10px;
}
.footer-links:hover{
	width: 140px;
background-color: #8BBD06;
border-radius: 20px;
text-align: center;
}
.loginBtn{
	margin-top: 50px;
	display: flex;
	margin-left: 60px;
}
.contact-input{
	width: 940px;
}
.titulo_web{
	font-size: xx-large;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	margin-bottom: 80px;
	text-align: center;
	color: #ffffff;
}
